html {scroll-behavior: smooth;}

body{
    background-color: black;
}

nav{
    height: 70px;
}

#home {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10%;
}

#myCarosel{
    text-align: center;
}

#home h1 {
    font-size: 4rem;
}

#home p {
    font-size: 1.5rem;
}

section {
    color: white;
    padding: 300px 0;
    height: 150vh;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scroll-btn {
    margin-top: 10px;
}

footer{
    padding: 20px 0;
    background-color: darkmagenta;
}

footer p {
    background-color: #fff;
    color: #333;
    padding: 20px;
    padding-right: 20px 0;
    text-align: right;
}

footer ul{
    text-align: left;
    color: #fff;
    height: 100px;
}

#sobre p{
    padding: 50px 0;
}

footer h3{
    color: #fff;
    padding: 20px;
}

nav.scrolled {
    background-color:darkviolet !important;
}

#container{
    text-align: left !important;
    align-items: left !important;
}

#forms{
    text-align: left;
    width: 75%;
}

#tópico{
    height: 140x;
}